extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Daniel Gibson

        p.lead.text-light
          | Full Stack JavaScript Developer in Training

        .portfolio-bio
          p
            | #[i Jack of all trades but master of none]
            br
            br
            | #[strong Experienced] in a wide range of fields from customer service, lawn mowing, English teaching, project management, and now delving into web and app development.
            br
            br
            | #[strong Qualified] with a Business Degree in Economincs and Statistics, Certificate in English Language Teaching to Adults, and now half way through 
            a(href='https://teamtreehouse.com/', target='_blank') Treehouse
            | 's Full Stack JavaScript Techdegree program.
            br
            br
            | Let's see where this will take me!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li jQuery
          li Express
          li Node.js
          li AJAX
          li Pug
          li CSS
          li HTML
          li WordPress
          li Angular
          li AWS
          li Git
        
        h6 Contact Info

        ul
          li +64 21 024 02186
          li danielgibson21@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/danielgibson21/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/DanielGibsonOrchid', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  